<a href="https://colab.research.google.com/github/crystalmaster/cky-project-master/blob/master/Pha_Team_6_World_Cup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Team 6 - World Cup

![](https://img.fifa.com/image/upload/t_l4/v1543921822/ex1ksdevyxwsgu7rzdv6.jpg)

_For more information about the dataset, read [here](https://www.kaggle.com/abecklas/fifa-world-cup)._

## Your tasks
- Name your team!
- Read the source and do some quick research to understand more about the dataset and its topic
- Clean the data
- Perform Exploratory Data Analysis on the dataset
- Analyze the data more deeply and extract insights
- Visualize your analysis on Google Data Studio
- Present your works in front of the class and guests next Monday

## Submission Guide
- Create a Github repository for your project
- Upload the dataset (.csv file) and the Jupyter Notebook to your Github repository. In the Jupyter Notebook, **include the link to your Google Data Studio report**.
- Submit your works through this [Google Form](https://forms.gle/oxtXpGfS8JapVj3V8).

## Tips for Data Cleaning, Manipulation & Visualization
- Here are some of our tips for Data Cleaning, Manipulation & Visualization. [Click here](https://hackmd.io/cBNV7E6TT2WMliQC-GTw1A)

_____________________________

## Some Hints for This Dataset:
- Is there a way to integrate the data from all 3 datasets?
- It seems like the `winners` dataset doesn't have data of World Cup 2018. Can you Google the relevant information and add it to the dataset using `pandas`?
- The format of some number columns in `matches` dataset doesn't look right.
- Can you seperate the Date and the Time of `Datetime` column in `matches` dataset?
- And more...

In [0]:
#Load dataset from google drive
!pip install -U -q PyDrive

In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
import pandas as pd

In [0]:
id1 = ''.join('https://drive.google.com/open?id=1-ZheYx3sfsMEZ_b0IfPF1LU2vg4qxb0I'.split("=")[1:])#matches.csv
id2 = ''.join('https://drive.google.com/open?id=1XLPQQW7Jyu7OF0NECmxfWroIuaFbJbMz'.split("=")[1:])#players.csv
id3 = ''.join('https://drive.google.com/open?id=1aMtsi5nbUiSSoBBh0nvATE5VH3JATYPX'.split("=")[1:])#winners.csv
link = 'https://drive.google.com/open?id=1-ZheYx3sfsMEZ_b0IfPF1LU2vg4qxb0I'

id = id1
matches = drive.CreateFile({'id':id}) 
matches.GetContentFile('matches.csv')
id = id2
players = drive.CreateFile({'id':id}) 
players.GetContentFile('players.csv')
id = id1
winners = drive.CreateFile({'id':id}) 
winners.GetContentFile('winners.csv')  

df1 = pd.read_csv('matches.csv')
df2 = pd.read_csv('players.csv')
df3 = pd.read_csv('winners.csv')

In [27]:
#check
df3.head()

     Year              Datetime  ... Home Team Initials Away Team Initials
0  1930.0  13 Jul 1930 - 15:00   ...                FRA                MEX
1  1930.0  13 Jul 1930 - 15:00   ...                USA                BEL
2  1930.0  14 Jul 1930 - 12:45   ...                YUG                BRA
3  1930.0  14 Jul 1930 - 14:50   ...                ROU                PER
4  1930.0  15 Jul 1930 - 16:00   ...                ARG                FRA

[5 rows x 20 columns]

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
Year                    852 non-null float64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null float64
Away Team Goals         852 non-null float64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null float64
Half-time Away Goals    852 non-null float64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null float64
MatchID                 852 non-null float64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37784 entries, 0 to 37783
Data columns (total 9 columns):
RoundID          37784 non-null int64
MatchID          37784 non-null int64
Team Initials    37784 non-null object
Coach Name       37784 non-null object
Line-up          37784 non-null object
Shirt Number     37784 non-null int64
Player Name      37784 non-null object
Position         4143 non-null object
Event            9069 non-null object
dtypes: int64(3), object(6)
memory usage: 2.6+ MB

In [31]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
Year                    852 non-null float64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null float64
Away Team Goals         852 non-null float64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null float64
Half-time Away Goals    852 non-null float64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null float64
MatchID                 852 non-null float64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

In [39]:
#df = [pd.read_csv(f) for f in ['matches.csv','players.csv','winners.csv']]]
#merge 3 data frames
df = pd.concat([df1,df2,df3])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [40]:
df.describe()

          Attendance  Away Team Goals  ...  Shirt Number         Year
count    1700.000000      1704.000000  ...  37784.000000  1704.000000
mean    45164.800000         1.022300  ...     10.726022  1985.089202
std     23478.336738         1.087254  ...      6.960138    22.442233
min      2000.000000         0.000000  ...      0.000000  1930.000000
25%     30000.000000         0.000000  ...      5.000000  1970.000000
50%     41579.500000         1.000000  ...     11.000000  1990.000000
75%     61381.000000         2.000000  ...     17.000000  2002.000000
max    173850.000000         7.000000  ...     23.000000  2014.000000

[8 rows x 9 columns]

In [0]:
#filenames = []
#df = [pd.read_csv(f) for f in filenames]